.logo{
    width: 150px;
}
.navbar{
    margin: 0;
    padding: 0;

}

.car-text{
    color:#FF4A52;
    font-size:20px;
    font-weight:bold;
}
.dealer-text{
    color:#9D9DA0;
    font-size:20px;
    font-weight:bold;
}


.login-btn-color{
    color:white;
    background-color:#FF4A52;
}

.logout-btn-color{
    color:white;
    background-color:#ff4a52;
}

.link-color:hover{
    color:white;
    background-color:#FF4A52;
}