.text-design2{
    font-size: 30px;
    color:#FF4A52;
    font-weight: bold;
    filter: drop-shadow(0px 1px 2px #575757);
}
.text-design3{
    font-size: 50px;
    color:#FF4A52;
    font-weight: bold;
    filter: drop-shadow(0px 1px 2px #575757);
}





/* why choose us */
.about-us {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Blue-White-Background-Image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }