.bg-color{
    background-color:#ffffff;
    }
    .image-width{
    
    }
    
    .text-small {
        font-size: 0.9rem;
      }
      
      a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
      }
      
      a:hover, a:focus {
        text-decoration: none;
      }
      
      
      footer {
        background: #ffffff;
      }
  
      
    .youtube-color{
    color:red
    }
    .facebook-color{
    color:rgb(0, 132, 255)
    }
    .twitter-color{
    color:rgb(0, 195, 255)
    }
    .linkedin-color{
    color:rgb(23, 121, 185)
    }
    .pinteres-color{
    color:rgb(140, 0, 255)
    }



    .footer__container {
      background-color: #020016;
      color: white;
      font-family: "Ubuntu", sans-serif;
    }
    .nav__section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 40vh;
      padding: 10px 0;
    }
    .nav__section ul {
      list-style: none;
    }
    .nav__section ul li {
      cursor: pointer;
    }
    .nav__section ul li:hover {
      color: #fc5c65;
    }
    .nav__section a {
      text-decoration: none;
      color: white;
    }
    .nav__section a:hover {
      color: #fc5c65;
    }
    .copyright__section {
      background-color: #0e0c21;
      padding: 5px;
      text-align: center;
    }
    .copyright__section a {
      text-decoration: none;
      color: white;
    }
    .copyright__section a:hover {
      color: #fc5c65;
    }
    .copyright__section span {
      color: #fc5c65;
      font-weight: 500;
    }
    @media (max-width: 480px) {
      .nav__section {
        flex-direction: column;
        text-align: center;
      }
      .nav__section ul li {
        margin-right: 25px;
      }
    }
    